.content {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: var(--background);
  max-width: 1440px;

  margin: 0 auto;
}
.formTodo {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  max-width: 46rem;
  width: 100%;
  height: 3.375rem;

  top: 10.8rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.formTodo input {
  flex: 1;

  border: 1px solid var(--gray-700);
  border-radius: 8px;

  background-color: var(--gray-500);
  color: var(--gray-300);

  font-size: 1rem;

  padding: 1rem;
}

.formTodo input:focus {
  border: 1px solid var(--purple-dark);
  color: var(--gray-100);
}

.formTodo button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem;
  border-radius: 8px;
  border: none;

  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 140%;

  transition: background-color 0.3s;
}

.formTodo button:hover {
  background-color: var(--blue);
}

.tasksContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 46rem;
  width: 100%;

  margin-top: 5.68rem;
}

.tasksHeader {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 1.5rem;

  color: var(--blue);
  font-weight: bold;
  font-size: 0.875rem;
}

.tasksHeader span {
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-weight: 700;
  font-size: 0.75rem;

  padding: 0.125rem 0.5rem;
  border-radius: 62.43rem;
}

.tasksDone {
  color: var(--purple);
}

.noTasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--gray-300);

  line-height: 1.4rem;

  padding-top: 4rem;

  width: 100%;
}

.noTasks img {
  padding-bottom: 1rem;
}

.tasks {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-300);

  width: 100%;
}

.tasks ul {
  list-style: none;
  width: 100%;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;

  border: 1px solid var(--gray-400);
  border-radius: 8px;

  box-shadow: 0px 2px 8px 0px #0000000f;

  padding: 1rem;
  width: 100%;

  font-size: 0.875rem;
  line-height: 140%;

  background-color: var(--gray-500);
  color: var(--gray-100);

  margin-bottom: 0.75rem;
}

.tasks li label {
  text-decoration: line-through;
}

.tasks li input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  background-color: transparent;
  color: var(--gray-100);

  border: 1px solid var(--blue);
  border-radius: 100%;

  width: 1.09rem;
  height: 1.09rem;

  font-size: 0.625rem;

  transition: all 0.3s;
}

.tasks li input[type='checkbox']:hover {
  border: 1px solid var(--blue-dark);
}

.tasks li input[type='checkbox']:checked {
  border: 1px solid var(--purple-dark);
  background-color: var(--purple-dark);
}

.tasks li input[type='checkbox']:checked:hover {
  border: 1px solid var(--purple);
  background-color: var(--purple);
}

.tasks li input[type='checkbox']:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  position: relative;
  top: 0.04rem;
}

.tasks li button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;

  background-color: transparent;
  border: none;
  color: var(--gray-300);
  border-radius: 4px;

  width: 1.5rem;
  height: 1.5rem;

  transition: all 0.3s;
}

.tasks li button:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}
